{% extends "layouts/base.html.twig" %}

{% block body %}
<div class="slide slide--title">
  <h1>{% block heading %}{% endblock %}</h1>
  <p class="subtitle">{% block subtitle %}{% endblock %}</p>
  {% block footer %}{% endblock %}
</div>
{% endblock %}
